<div class="container">
    <div class="nav">
        <mat-toolbar class="container_nav" color="primary">
            <span id="title">Travel Agency</span>

            <div class="container_btn">
                <button (click)="openDialogRegistrar()" mat-raised-button>
                    <span>Registrar</span>
                </button>
                <button (click)="openDialogLogin()" mat-raised-button>
                    <span>Iniciar sesión</span>
                </button>
            </div>
        </mat-toolbar>
    </div>
    <div class="img">
        <img src="https://viajes.nationalgeographic.com.es/medio/2022/03/24/bahia-gardner-islas-galapagos-ecuador_659478c0_1200x844.jpg"
            alt="">
        <div class="text">
            <p>
                EXPLORA EL EDÉN
            </p>
        </div>
    </div>
    <div class="footer">
        <p>
            © Brayan martinez, 2023
            Ingeniero en sistemas
        </p>
    </div>
</div>