.container {
    width: 800px;
    height: 400px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: end;

    mat-step {
        padding-top: 30px;
    }

    .title {
        width: 100%;
        height: 15%;
        display: flex;
        justify-content: center;
        align-items: center;

        h3 {
            font-size: 1.7rem;
            font-weight: 500;
            color: rgb(0, 0, 0);
        }
    }

    .form-concat {
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        
        .form {
            width: 100%;
            height: 80%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            // margin-top: 30px;
            // gap: 20px;

            .container-grid {
                width: 100%;
                display: flex;
                justify-content: space-between;
                // align-items: flex-start;
                // background-color: aqua;
                // gap: 10px;
                // margin-left: 10px;

                .grid {
                    width: 30%;
                    height: 100%;
                    display: flex;
                    gap: 10px;

                    mat-form-field {
                        width: 100%;
                    }

                    .indicative {
                        width: 70px;
                        height: auto;
                    }

                    .input-phone {
                        width: 160px;
                        height: auto;
                    }
                }

                .grid-email {
                    width: 65%;
                    height: 100%;
                    display: flex;
                    gap: 10px;

                    .input-email {
                        width: 100%;
                        height: auto;
                    }
                }
            }
        }

        .container-grid-password {
            width: 100%;
            display: flex;
            gap: 5%;

            .grid {
                width: 50%;
                height: 100%;
                display: flex;
                gap: 10px;
    
                .input {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }

    .container-btn {
        display: flex;
        justify-content: end;
        gap: 10px;
    }
}

.mat-stepper-vertical,
.mat-stepper-horizontal {
    display: flex;
    height: 100%;
}

.mat-stepper-horizontal-line {
    margin-left: 50px !important;
    border-top-width: 1px;
    border-top-style: solid;
    flex: none !important;
    height: 0;
    margin: 0 -16px;
    min-width: 32px !important;
    border-top-color: var(--mat-stepper-line-color);
}