<div class="body-login">
    <div class="card-container">
        <form class="container-form" [formGroup]="formRegister">
            <div class="container-title">
                <span id="title">{{data.title}}</span>
            </div>
            <mat-form-field appearance="outline" class="input">
                <mat-label>Nombre del hotel</mat-label>
                <input type="text" matInput formControlName="name">
            </mat-form-field>
            <mat-form-field appearance="outline" class="input">
                <mat-label>Descripción</mat-label>
                <input type="text" matInput formControlName="description">
            </mat-form-field>
            <mat-form-field appearance="outline" class="input">
                <mat-label>URL imagen</mat-label>
                <input type="text" matInput formControlName="imageUrl">
            </mat-form-field>
            <button class="btn-ingresar" type="submit" (click)="registerHotel(formRegister.value)" color="primary" mat-raised-button>{{data.button}}</button>
        </form>
    </div>
    <div class="container-preview">
        <img src="{{preview}}" alt="image in white">
    </div>

</div>